#clockContainer{
    position: relative;
    /* height: 150px;
    width: 150px; */
    height: 15vh;
    width: 15vh;
    background-image: url('clock.png');
    background-size: 100%;
    margin: auto;
    padding: 40vh;
}

#hour,#second,#minute{
    position: absolute;
    border:2px red;
    transform-origin: bottom;
}
#second{
    background-color: black;
    height: 37%;
    width: 1%;
    top: 13%;
    opacity: 0.8;
    left: 49.51%;
    /* display: none; */
}
#minute{
    background-color: black;
    height: 32%;
    width: 1%;
    top: 17%;
    opacity: 0.8;
    left: 49.51%;
    /* display: none; */
}
#hour{
    background-color: black;
    height: 28%;
    width: 1%;
    top: 22%;
    opacity: 0.8;
    left: 49.51%;
}